.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App > * {
    margin: 1vh;
}

input {
    margin-right: 1vw;
    border-bottom: solid black 1px;
}

button {
    padding: 0.5rem;
}

table {
    border-collapse: collapse;
}
th,
td {
    border: 1px solid #cecfd5;
    padding: 10px 15px;
}

.bubble {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.bubble:hover {
    background-color: white;
}

.bubble-na {
    border: 2px solid grey;
    background-color: white;
}

.bubble-00 {
    border: 2px solid black;
    background-image: radial-gradient(circle, black 0%, white 0%);
}

.bubble-25 {
    border: 2px solid black;
    background-image: radial-gradient(circle, black 25%, white 25%);
}

.bubble-50 {
    border: 2px solid black;
    background-image: radial-gradient(circle, black 42%, white 42%);
}

.bubble-75 {
    border: 2px solid black;
    background-image: radial-gradient(circle, black 53%, white 53%);
}

.bubble-100 {
    border: 2px solid black;
    background-image: radial-gradient(circle, black 100%, white 0%);
}

ul {
    list-style-type: none;
    /*use padding to move list item from left to right*/
    /* padding-left: 1em; */
    /* margin-top: 2vh; */
}

li:before {
    content: "-";
    position: absolute;
    /*change margin to move dash around*/
    margin-left: -1em;
}
